body{

background:black;

color:white;

font-family:Arial;

margin:0;

}


header{

background:#111;

padding:20px;

}


nav ul{

display:flex;

gap:20px;

list-style:none;

}


.card{

background:#1e1e2f;

margin:20px;

padding:20px;

border-left:5px solid red;

}